@font-face {
  font-family: 'sb';
  src: url('/Fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'b';
  src: url('/Fonts/ProximaNova-Bold.woff') format('woff2');
}

@font-face {
  font-family: 'l';
  src: url('/Fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
  font-family: 'li';
  src: url('/Fonts/ProximaNova-LightIt.woff') format('woff');
}

@font-face {
  font-family: 'm';
  src: url('HelveticaNeueCyr-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'mi';
  src: url('HelveticaNeueCyr-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'r';
  src: url('/Fonts/ProximaNova-Regular.woff') format('woff2');
}

@font-face {
  font-family: 't';
  src: url('HelveticaNeueCyr-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'ti';
  src: url('HelveticaNeueCyr-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'ul';
  src: url('HelveticaNeueCyr-UltraLight.woff2') format('woff2');
}

:root{
  --light-color: #ffffff;
  --gray-color: #f3f4f8;
  --darkgray-color: #d0d1d4;
  --accent1-color: #0077C8;
  --accent2-color: #DEEDF7;
  --accent3-color: #F38B00;
  --accent4-color: #004C97;
  --dark-color:#1A1B25;

  --light-gradient-color: linear-gradient(135deg, #ffffff, #ffffff57);
  --dark-gradient-color: linear-gradient(135deg, #0963B7, #011856);

}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

/* Основные стили */
body {
  margin: 0;  /* Убираем стандартные отступы браузера */
  padding: 0;
  font-family: 'r', sans-serif;
  background-color: var(--light-color);
  font-size: 0.88rem;
}

.mob_header {
  display: none;
}

.mob_footer {
  display: none;
}
.mob_footer img {
  width: 100%;
  display: none;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-1.88rem); /* Поднимаем, но чуть меньше */
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* По умолчанию скрываем элементы */
.part, h2, .description {
  opacity: 0;
  transform: translateY(-1.88rem);
}

/* Запускаем анимацию, когда добавляется класс 'animate' */
.content.animate .part {
  animation: slideInFromTop 0.7s ease-in-out forwards;
}

.content.animate h2 {
  animation: slideInFromTop 0.7s ease-in-out forwards;
  animation-delay: 0.1s;
}

.content.animate .description:nth-of-type(1) {
  animation: slideInFromTop 0.7s ease-in-out forwards;
  animation-delay: 0.2s;
}

.content.animate .description:nth-of-type(2) {
  animation: slideInFromTop 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}

.content.animate .description:nth-of-type(3) {
  animation: slideInFromTop 0.7s ease-in-out forwards;
  animation-delay: 0.4s;
}

.content.animate .description:nth-of-type(4) {
  animation: slideInFromTop 0.7s ease-in-out forwards;
  animation-delay: 0.5s;
}

.content.animate .description:nth-of-type(5) {
  animation: slideInFromTop 0.7s ease-in-out forwards;
  animation-delay: 0.6s;
}

header{
  display: flex;
  justify-content: center;
  background-image: url('Images/Cover.png');
  background-size: cover;      /* картинка масштабируется и заполняет блок */
  background-position: center; /* центрируем картинку */
  background-repeat: no-repeat;/* не повторяем картинку */
  width: 100%;                 /* ширина блока (можно задать нужную) */
  height: 100vh;               /* например, высота — весь экран */
}

.banner img{
  width: 100%;
  display: flex;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Навигация                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav {
	font-size: 0.88rem;
  font-family: 'sb', sans-serif;
  color: var(--light-color);
	height: 5.00rem;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
  position: absolute;
  flex-wrap: wrap;
  width: 70%;
}


h1 {
  font-family: 'l', sans-serif;
  font-size: 7.50rem;
  line-height: 120%;
  background: linear-gradient(135deg, #ffffff, #ffffff57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.offer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -50rem;
}

.offer p {
  font-family: 'l', sans-serif;
  font-size: 1.50rem;
  line-height: 120%;
  background: linear-gradient(135deg, #ffffff, #ffffff57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Логотип */
.logo img {
  width: 9.38rem;
}


.links {
	display: flex;
	cursor: pointer;
  justify-content: space-between;
  gap: 2.50rem;
}

.link {
	position: relative;
	overflow: hidden;
  padding: 0.20rem 0;
}


.linkline {
	position: absolute;
	display: block;
  height: 0.12rem;
}

.link:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0%;
	height: 0.06rem;
	background: var(--light-color);
	transition: all 0.30s cubic-bezier(.47,.17,.3,1);
}

.link:hover:after {
	left: 0;
	width: 100%;
}

.linkWhite {
	margin-left: 3.00rem;
	position: relative;
	overflow: hidden;
	padding: 0.50rem 0;
	cursor: pointer;
}

.linkWhite:after {
	content: "";
	position: absolute;
	bottom: 0.69rem;
	right: 0;
	width: 0%;
    height: 0.12rem;
    background: var(--light-color);
	transition: all 0.3s cubic-bezier(.47,.17,.3,1);
}

.linkWhite:hover:after {
	left: 0;
	width: 100%;
}

.container {
  background-color: var(--light-color);
  margin: 5.00rem auto;
}

.narrative {
  position: relative;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 73.75rem; /* Ширина сайта, чтобы не растягивалось */
  margin: 0 auto; /* Центрирование */
  box-sizing: border-box; /* Включение padding в ширину */
}

.air 
{
  padding-top: 5.00rem;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  max-width: 75.00rem;
  margin: 0 auto;
  padding: 3.94rem 0.00rem;
}

.card {
  background: var(--light-color);
  padding: 1.88rem;
  text-align: left;
  transform: translateY(1.25rem); /* Начальная позиция карточек */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Плавное изменение */
}

.card.visible {
  opacity: 1;
  transform: translateY(0); /* Когда карточка становится видимой */
}

.card:nth-child(1) {
  animation-delay: 0.1s; /* задержка для первой карточки */
}

.card:nth-child(2) {
  animation-delay: 0.3s; /* задержка для второй карточки */
}

.card:nth-child(3) {
  animation-delay: 0.5s; /* задержка для третьей карточки */
}

.card:nth-child(4) {
  animation-delay: 0.7s; /* задержка для четвертой карточки */
}

.card:nth-child(5) {
  animation-delay: 0.9s; /* задержка для пятой карточки */
}

.card:nth-child(6) {
  animation-delay: 1.1s; /* задержка для шестой карточки */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0); /* карточка возвращается в исходное положение */
  }
}

.card:hover {
  transform: translateY(-0.31rem);
}

.icon {
  width: 3.75rem;
}

.grid-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card h3 {
  font-family: 'm', sans-serif;
  font-size: 1.12rem;
  margin: 0.62rem 0;
  color: var(--accent-color);
}

.card p {
  font-size: 1.00rem;
  color: var(--accent-color);
  line-height: 120%;
}

.content {
  max-width: 100%;
  z-index: 2; /* Поверх фонового изображения */
}

.text-slide {
  padding: 0.62rem 8.75rem;
  position: absolute;                  /* Абсолютное позиционирование */
  bottom: 5.62rem;                           /* Привязка к нижней границе */
  left: 0;                             /* Привязка к левой стороне */
  width: 80%;                         /* Растягиваем на всю ширину */
}

.text-slide p {
  z-index: 2;
  font-size: 1.12rem;
  font-family: 'r', sans-serif;
  line-height: 120%;
  text-align: left;
  z-index: 2; 
}

.part {
  font-family: 'r', sans-serif;
  font-size: 1.2rem;
  color: var(--darkgray-color);
}

.title {
  font-family: 'r', sans-serif;
  font-size: 4rem;
  color: var(--accent4-color);
  line-height: 100%;
  margin: 0;
}

.under_title{
  font-family: 't', sans-serif;
  font-size: 2.56rem;
  color: var(--dark-color);
  line-height: 120%;
  margin: 0 0 1.69rem;
}

.header-description {
  font-family: 'b', sans-serif;
  font-size: 1.2rem;
  color: var(--accent-color);
  line-height: 120%;
}

.description {
  font-family: 'r', sans-serif;
  font-size: 1rem;
  color: var(--accent-color);
  line-height: 120%;
  margin: 0 0 0.94rem;
}

.background {
  position: absolute;
  right: 0;
  top: 0;
  background: no-repeat center center;
  background-size: cover;
  opacity: 1; /* Прозрачность */
  z-index: 1; /* За текстом */
}

.container_img {
  width: 100%;
  display: flex;
}

.container_img img {
  width: 100%;
  display: block;
  margin: 0 auto;
}



.arrow {
  width: 3rem;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  opacity: 0.7;
  transition: all 0.3s ease;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
  transform: scale(1.2); /* Увеличение */
}

.background2 {
  position: absolute;
  right: 0;
  
  background: no-repeat center center;
  background-size: cover;
  opacity: 1; /* Прозрачность */
  z-index: 1; /* За текстом */
}

.postscriptum {
  font-family: 'l', sans-serif;
  font-size: 1.12rem;
  color: var(--accent-color);
  line-height: 120%;
}

.swiper {
  height: 120vh;
  max-height: 50.62rem;
  max-width: 90.00rem;

}


.swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  background-size: cover;                 /* Растягивает картинку на всю область */
  background-position: center;            /* Центрирует картинку */
  background-repeat: no-repeat; 
  cursor: grab;
  transition: transform 0.3s ease-out;
}

.swiper-slide {
  width: 100% !important;  /* Растягиваем слайд на всю ширину */
  background-size: cover;   /* Покрытие всего блока изображением */
  background-position: center;
}

.swiper-slide::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Высота затемнённой области */
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0), /* Темнее у низа */
    rgba(0, 0, 0, 0)    /* Прозрачно к верху */
  );
  pointer-events: none; /* Чтобы не мешало взаимодействию с текстом */
}

.swiper-slide:active {
  cursor: grabbing;
}

.swiper-slide p {
  font-size: 1.12rem;
  position: relative;
  color: var(--light-color);
}

/* --- Кастомизация пагинации Swiper --- */
.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  margin-bottom: 3.12rem;
}

.swiper-pagination-bullet {
  width: 1.00rem !important; /* Размер кружков */
  height: 1.00rem !important;
  background-color: rgba(0, 0, 0, 0.7) !important; /* Серый цвет */
  border-radius: 50% !important; /* Делаем их круглыми */
  margin: 0 1.25rem !important; /* Расстояние между кружками */
  opacity: 0.7 !important; /* Прозрачность */
  transition: all 0.3s ease !important; /* Плавный переход эффектов */
}

/* Увеличение и изменение цвета при наведении */
.swiper-pagination-bullet:hover {
  background-color: rgba(0, 0, 0, 0.9) !important; /* Белый цвет при наведении */
  transform: scale(1.2); /* Увеличение */
}

/* Стили для активного элемента */
.swiper-pagination-bullet-active {
  background-color: var(--light-color) !important; /* Белый цвет активной точки */
  transform: scale(1.2); /* Увеличение активного элемента */
  opacity: 1 !important; /* Полная непрозрачность */
  border: 0.06rem solid rgba(0, 0, 0, 0.7);
}

/* Чтобы активная точка оставалась белой при наведении */
.swiper-pagination-bullet-active:hover {
  background-color: var(--light-color) !important; /* Оставляем белый цвет */
  transform: scale(1.2); /* Ещё большее увеличение при наведении */
}

/* Стиль для кнопок */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; /* Белый цвет стрелок */
  background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный чёрный фон */
  border-radius: 50%; /* Скругление для создания круга */
  width: 3.12rem !important; /* Ширина кнопки */
  height: 3.12rem !important; /* Высота кнопки */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
  margin-left: 8.12rem;
  margin-right: 8.12rem;
}

/* Эффект при наведении */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Сделать фон менее прозрачным при наведении */
}

/* Увеличиваем иконки стрелок */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0.88rem !important; /* Размер стрелки */
  font-weight: bold;
}


.pt img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quiz-container {
  margin: 0 auto;
  padding: 2.50rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent4-color);
  width: 58rem;
  border-radius: 2.2rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
}

.number {
  position: absolute;
  right: 0;
  top: 0;
}

.number img {
  width: 12rem;

}

.question-container p {
  font-size: 2.12rem;
  font-family: 'sb', sans-serif;
  color: var(--light-color);
  text-align: center;
  margin-bottom: 3rem;
  line-height: 120%;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.options-container img {
  width: 2.25rem;
}

.option, .option2, .option3 {
  background: transparent;
  border: 0.12rem solid var(--light-color);
  padding: 1.62rem 1.88rem;
  padding-right: 3.12rem;
  border-radius: 1.5rem 1.5rem 0rem 1.5rem;
  font-size: 0.95rem;
  color: var(--light-color);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  min-width: 25rem;

}

.option:hover {
  background: var(--accent1-color);
}

.option2:hover {
  background: var(--accent1-color);
}

.option3:hover {
  background: var(--accent1-color);
}


.feedback-container{
  margin-top: 2.50rem;
  margin-bottom: 0.00rem;
  font-size: 1.12rem;
  color: var(--light-color);
  font-family: "li", sans-serif;
  line-height: 120%;
  text-align: center;
  max-width: 53.12rem;
}

.correct, .correct2, .correct3 {
  background: var(--accent1-color);
}

.wrong, .wrong2, .wrong3 {
  background: var(--accent3-color);
}




.footer {
  color: var(--light-color);
  font-family: 'r', sans-serif;
  font-size: 0.88rem;
  line-height: 120%;
  padding: 3.62rem 8.06rem;
  max-width: 100%;
  background-color: var(--accent4-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.footer_age {
  margin-top: 0.5rem
}

/* Разделительная линия */
.footer__line {
  border-top: 0.06rem solid var(--light-color);
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Нижняя часть */
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.88rem;
  color: var(--light-color);
  max-width: 80%;
  margin: 0 auto;
}

.footer__site a {
  color: var(--light-color);
  text-decoration: none;

}



/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Скроллбар                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/


::-webkit-scrollbar {
  width: 0.62rem; /* Ширина скроллбара */
  background-color: var(--accent2-color); 
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent4-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent1-color); /* Цвет при наведении */
}


@media (max-width: 56.25rem) {
  
.desktop-br {
  display: none;
}

/* Основные стили */
body {
  font-size: 0.88rem;
}


header{
  background-image: url('Images/Cover.png');
  background-size: cover;      /* картинка масштабируется и заполняет блок */
  background-position: center; /* центрируем картинку */
  background-repeat: no-repeat;/* не повторяем картинку */
  width: 100%;                 /* ширина блока (можно задать нужную) */
  height: 100vh;               /* например, высота — весь экран */
}


/* Логотип */
.logo img {
  width: 6.70rem;
}

.links {
  display: none;
}

.link {
  position: relative;
  overflow: hidden;
  padding: 0.14rem 0;
}

.linkline {
  position: absolute;
  display: block;
  height: 0.09rem;
}

.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0.04rem;
  background: var(--light-color);
  transition: all 0.30s cubic-bezier(.47,.17,.3,1);
}

.link:hover:after {
  left: 0;
  width: 100%;
}

.linkWhite {
  margin-left: 2.14rem;
  position: relative;
  overflow: hidden;
  padding: 0.36rem 0;
  cursor: pointer;
}

.linkWhite:after {
  content: "";
  position: absolute;
  bottom: 0.49rem;
  right: 0;
  width: 0%;
  height: 0.09rem;
  background: var(--light-color);
  transition: all 0.3s cubic-bezier(.47,.17,.3,1);
}

.linkWhite:hover:after {
  left: 0;
  width: 100%;
}

.container {
  background-color: var(--light-color);
  margin: 3.12rem auto;
}

.narrative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 52.68rem; /* Ширина сайта, чтобы не растягивалось */
  margin: 0 auto; /* Центрирование */
  box-sizing: border-box; /* Включение padding в ширину */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 0.89rem;
  max-width: 53.57rem;
  margin: 0 auto;
  padding: 2.81rem 0.00rem;
}

.question-container p {
  font-size: 1.88rem;
  line-height: 120%;
}


.card {
  background: var(--light-color);
  padding: 1.88rem;
  transition: transform 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-0.22rem);
}

.icon {
  width: 2.68rem;
}

.card h3 {
  font-family: 'm', sans-serif;
  font-size: 0.88rem;
  margin: 0.45rem 0;
  color: var(--accent-color);
}

.card p {
  font-size: 1.12rem;
  color: var(--accent-color);
  line-height: 120%;
}

.content {
  max-width: 100%;
  z-index: 2; /* Поверх фонового изображения */
  padding: 1.88rem;
}

.text-slide {
  padding: 0.45rem 2.50rem;
  position: absolute;                  /* Абсолютное позиционирование */
  bottom: 1.25rem;                           /* Привязка к нижней границе */
  left: 0;                             /* Привязка к левой стороне */
  width: 80%;                         /* Растягиваем на всю ширину */
}

.text-slide p {
  z-index: 2;
  font-size: 0.88rem;
  font-family: 'r', sans-serif;
  line-height: 120%;
  text-align: left;
  z-index: 2; 
}

.part {
  font-family: 'sb', sans-serif;
  font-size: 0.88rem;
  color: var(--accent-color);
  margin: 0 0 0.85rem;
}

.title {
  font-family: 't', sans-serif;
  font-size: 2.12rem;
  color: var(--dark-color);
  line-height: 120%;
  margin: 0 0 1.21rem;
}

.under_title{
  font-family: 't', sans-serif;
  font-size: 1.83rem;
  color: var(--dark-color);
  line-height: 120%;
  margin: 0 0 1.21rem;
}

.description{
  font-family: 'l', sans-serif;
  font-size: 1.12rem;
  color: var(--accent-color);
  line-height: 120%;
  margin: 0 0 0.67rem;
}

.background2 {
  display: none;
  position: absolute;
  right: 0;
  background: no-repeat center center;
  background-size: cover;
  opacity: 1; /* Прозрачность */
  z-index: 1; /* За текстом */
}

.postscriptum {
  margin-top: 0.89rem;
  margin-left: 17.32rem;
  font-family: 'l', sans-serif;
  font-size: 0.88rem;
  color: var(--accent-color);
  line-height: 120%;
}

.swiper {
  height: 50vh;
  max-height: 36.16rem;
  max-width: 90.00rem;
}

.swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  background-size: cover;                 /* Растягивает картинку на всю область */
  background-position: center;            /* Центрирует картинку */
  background-repeat: no-repeat; 
  cursor: grab;
  transition: transform 0.3s ease-out;
}

.swiper-slide::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Высота затемнённой области */
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0), /* Темнее у низа */
    rgba(0, 0, 0, 0)    /* Прозрачно к верху */
  );
  pointer-events: none; /* Чтобы не мешало взаимодействию с текстом */
}

.swiper-slide:active {
  cursor: grabbing;
}

.swiper-slide p {
  font-size: 0.88rem;
  position: relative;
  color: var(--light-color);
}

/* --- Кастомизация пагинации Swiper --- */
.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  margin-bottom: 2.23rem;
}

.swiper-pagination-bullet {
  width: 1.00rem !important; /* Размер кружков */
  height: 1.00rem !important;
  background-color: rgba(0, 0, 0, 0.4) !important; /* Серый цвет */
  border-radius: 50% !important; /* Делаем их круглыми */
  margin: 0 1.34rem !important; /* Расстояние между кружками */
  opacity: 0.7 !important; /* Прозрачность */
  transition: all 0.3s ease !important; /* Плавный переход эффектов */
}

/* Увеличение и изменение цвета при наведении */
.swiper-pagination-bullet:hover {
  background-color: rgba(0, 0, 0, 0.7) !important; /* Белый цвет при наведении */
  transform: scale(1.2); /* Увеличение */
}

/* Стили для активного элемента */
.swiper-pagination-bullet-active {
  background-color: var(--light-color) !important; /* Белый цвет активной точки */
  transform: scale(1.2); /* Увеличение активного элемента */
  opacity: 1 !important; /* Полная непрозрачность */
}

/* Чтобы активная точка оставалась белой при наведении */
.swiper-pagination-bullet-active:hover {
  background-color: var(--light-color) !important; /* Оставляем белый цвет */
  transform: scale(1.2); /* Ещё большее увеличение при наведении */
}


.swiper-button-next,.swiper-button-prev, .swiper-pagination {
  display: none !important;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.88rem;
}

.option, .option2, .option3{
  padding: 1.25rem 1.25rem;
  padding-right: 2.50rem;
  gap: 0.88rem;
}


.offer {
  display: none;
}

.mob_header {
  display: block;
}
.mob_header img{
  width: 100%;
}

.header {
  display: none;
}
.banner {
  display: none;
}
.footer {
  display: none;
}

.mob_footer {
  display: block;
}
.mob_footer img {
  width: 100%;
  display: block;
}


}